<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ana Sayfa</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>

<h1>Öğrenci Yönetim Sistemi</h1>

<div class="container">
  <a href="/students" class="card card-student">ÖĞRENCİLER</a>
  <a href="/courses" class="card card-course">DERSLER</a>
  <a href="/registrations" class="card card-registration">KAYIT</a>
</div>

</body>
</html>
